<h2><span>I've seen the future, it's in my browser</span></h2>
<div class="row">
  <div class="span12">
    <div class="row">

      <!--testimonials-->
      <div class="span8">
        <p><img class="pull-left avatar" src="assets/user-1.png" alt="user"> <strong>Cooper Black wrote:</strong>
        <br>
        "These guys are friendly and down to earth. I would definitely recommend for anyone looking for a solid host for their sites. I'd recommend them to anyone!"</p>
        <br>
        <p><img class="pull-left avatar" src="assets/user-2.png" alt="user"> <strong>Lucida Sans wrote:</strong>
        <br>
        "I've ever had downtime since the switch. These guys are friendly and down to earth. I would definitely recommend for anyone looking for a solid host for their sites."</p>
        <br>
        <p><img class="pull-left avatar" src="assets/user-3.png" alt="user"> <strong>Calisto MT wrote:</strong><br>
        "They are great - I wish they IPs were cheaper - but the uptime is awesome and the support is fast - I can always get ahold of them on live chat or phone call."</p>
      </div><!--end testimonials-->

      <!--quote-->
      <div class="span4">
        <div class="well">
          <blockquote>
            <p><strong>It's All About The Service;</strong></p>
            <br>
            <p>The reason we chose This Company Permanent for our business solutions is simple, it's all about service. You ask for something and it gets done.</p>
            <br>
            <p><small>Cambria Bold - <cite title="Source Title">Venture Enterprises CEO.</cite></small></p>
          </blockquote>
        </div>
      </div><!--end quote-->

    </div>
  </div>
</div>
