    <div class="row feature-blocks">
                        <div class="span3">
                            <h3><i class="icon icon-beaker"></i> Technology</h3>
                            <p>And purely one near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and and while</p>
                            <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook</a>
                        </div>
                        <div class="span3">
                            <h3><i class="icon icon-cloud"></i> Cloud Based</h3>
                            <p>Purely one near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less</p>
                            <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook »</a>
                        </div>
                        <div class="span3">
                            <h3><i class="icon icon-random"></i> Cross-Platform</h3>
                            <p>One near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and</p>
                            <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook »</a>
                        </div>
                         <div class="span3">
                            <h3><i class="icon icon-github"></i> Integrated</h3>
                            <p>Near this hey therefore darn firefly had ducked overpaid wow irrespective some tearful and mandrill yikes considering far above. Physically less snickered much and and while</p>
                            <a class="btn" href="#"><i class="icon  icon-info-sign"></i> where more partook »</a>
                        </div>
                    </div>
