<%= render "frente/features" %>
<%= render "frente/testimonials" %>

<div class="row">
    <div class="span4">
      <% if user_signed_in? %>
        <h2>Special offers</h2>
        <p>All registered users will receive free monkeys!</p>
      <% end %>
      <%= my_helper %>
      <%= show_user %>
      <hr>
    </div>
    <div class="span4">
      caixa 1
    </div>
    <div class="span4">
      caixa 2
    </div>
    <div class="span4">
      caixa 3
    </div>
</div>
