<div class="row-fluid">
  <div class="block span12">
    <p class="block-heading">Not Collapsible</p>
    <div class="block-body">
      <h2>Built with Less</h2>
      <%= link_to "Administrar", admin_root_path  %>
      <p>The CSS is built with Less. There is a compiled version included if you prefer plain CSS.</p>
      <p>Fava bean jícama seakale beetroot courgette shallot amaranth pea garbanzo carrot radicchio peanut leek pea sprouts arugula brussels sprout green bean. Spring onion broccoli chicory shallot winter purslane pumpkin gumbo cabbage squash beet greens lettuce celery. Gram zucchini swiss chard mustard burdock radish brussels sprout groundnut. Asparagus horseradish beet greens broccoli brussels.</p>
      <p>Fava bean jícama seakale beetroot courgette shallot amaranth pea garbanzo carrot radicchio peanut leek pea sprouts arugula brussels sprout green bean. Spring onion broccoli chicory shallot winter purslane pumpkin gumbo cabbage squash beet greens lettuce celery. Gram zucchini swiss chard mustard burdock radish brussels sprout groundnut. Asparagus horseradish beet greens broccoli brussels.</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
