<div class="stats">
  <p class="stat"><span class="number">21</span>Usuários</p>
  <p class="stat"><span class="number">12</span>Profissionais</p>
  <p class="stat"><span class="number">345</span>Ligações</p>
  <p class="stat"><span class="number">53</span>tickets</p>
  <p class="stat"><span class="number">27</span>tasks</p>
  <p class="stat"><span class="number">15</span>waiting</p>
</div>
