<div class="row">
                    <div class="span12">
                        <div class="well">
                            <strong>Terms and conditions:</strong>
                            <p>This Agreement sets out the legally binding terms between you and EMG. This Agreement applies to all Users of the Service, including users who listen to or share audio content and or its associated metadata, information, and other materials or services on the Site. This Agreement applies to all Users regardless of if they are using the Service anonymously or as a registered user. If you choose to use the Service, you will be agreeing to abide by all of the terms and conditions of this Terms and Conditions of Use Agreement (the "Agreement"). EMG may, in its sole discretion, change, add or remove portions of this Agreement at any time, and by continuing to use the Service you agree to be bound by such revisions or modifications. If EMG does so, such changes will be posted on the Service, or sent to you via e-mail.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="alert alert-block">
                            <strong>Privacy policy:</strong>
                            <p>For clarification purposes, you retain all of your ownership rights in your User Content. However, unless EMG indicates otherwise, by submitting User Content to the Service you grant EMG and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, display, perform, reproduce, publish, and distribute such User Content throughout the world via the Service. You also grant each user of the Service a non-exclusive license to access your User Content through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under this Agreement. You grant EMG and it affiliates the right to use the name that you submit in connection with such User Content.</p>
                        </div>
                    </div>
                </div>
