<div class="control-group">
                            <label class="field-label">Buscar por</label>
                            <select class="chzn-select chzn-done" id="especialidade" name="especialidade" tabindex="-1" style="display: none;"><option value="">Especialidade</option>
<optgroup label="Médico" value="Médico">
<option value="acupunturista">Acupunturista</option>
<option value="alergista e imunologista">Alergista e Imunologista</option>
<option value="anestesista e anestesiologista">Anestesista e Anestesiologista</option>
<option value="angiologista">Angiologista</option>
<option value="cancerologista ou oncologista">Cancerologista ou Oncologista</option>
<option value="cardiologista">Cardiologista</option>
<option value="cirurgiao cardiovascular">Cirurgião Cardiovascular</option>
<option value="cirurgiao de maos">Cirurgião de Mãos</option>
<option value="cirurgiao de cabeca e pescoco">Cirurgião de Cabeça e Pescoco</option>
<option value="cirurgiao do aparelho digestivo">Cirurgião do Aparelho Digestivo</option>
<option value="cirurgiao geral">Cirurgião Geral</option>
<option value="cirurgiao pediatra">Cirurgião Pediatra</option>
<option value="cirurgiao plastico">Cirurgião Plástico</option>
<option value="cirurgiao toracico">Cirurgião Torácico</option>
<option value="cirurgiao vascular">Cirurgião Vascular</option>
<option value="clinico geral">Clínico Geral</option>
<option value="coloproctologista">Coloproctologista</option>
<option value="dermatologista">Dermatologista</option>
<option value="endocrinologista">Endocrinologista</option>
<option value="endoscopista">Endoscopista</option>
<option value="gastroenterologista">Gastroenterologista</option>
<option value="geriatra">Geriatra</option>
<option value="ginecologista e obstetra">Ginecologista e Obstetra</option>
<option value="hematologista e hemoterapeuta">Hematologista e Hemoterapeuta</option>
<option value="homeopata">Homeopata</option>
<option value="infectologista">Infectologista</option>
<option value="mastologista">Mastologista</option>
<option value="medico de familia e comunidade">Médico de Família e Comunidade</option>
<option value="medico do trabalho">Médico do Trabalho</option>
<option value="medico do esporte">Médico do Esporte</option>
<option value="fisiatra">Fisiatra</option>
<option value="medico intensivista">Médico Intensivista</option>
<option value="nefrologista">Nefrologista</option>
<option value="neurocirurgiao">Neurocirurgião</option>
<option value="neurologista">Neurologista</option>
<option value="nutrologo">Nutrólogo</option>
<option value="oftalmologista ou oculista">Oftalmologista ou Oculista</option>
<option value="ortopedista">Ortopedista</option>
<option value="otorrinolaringologista">Otorrinolaringologista</option>
<option value="patologista">Patologista</option>
<option value="pediatra">Pediatra</option>
<option value="pneumologista">Pneumologista</option>
<option value="psiquiatra">Psiquiatra</option>
<option value="radiologista">Radiologista</option>
<option value="radioterapeuta">Radioterapeuta</option>
<option value="reumatologista">Reumatologista</option>
<option value="urologista">Urologista</option>
<option value="outros">Outros</option>
</optgroup>
<optgroup label="Dentista" value="Dentista">
<option value="dentista restaurador">Dentista Restaurador</option>
<option value="endodontista">Endodontista</option>
<option value="implantodontista">Implantodontista</option>
<option value="ortodontista">Ortodontista</option>
<option value="periodontista">Periodontista</option>
<option value="outros">Outros</option>
</optgroup>
<optgroup label="Outras Profissões" value="Outras Profissões">
<option value="psicologo">Psicólogo</option>
<option value="educador fisico">Educador Físico</option>
<option value="fisioterapeuta">Fisioterapeuta</option>
<option value="nutricionista">Nutricionista</option>
<option value="enfermeiro">Enfermeiro</option>
</optgroup>
</select><div id="especialidade_chzn" class="chzn-container chzn-container-single chzn-container-single-with-search" style="width: 210px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>Especialidade</span></a><div class="chzn-drop" style="left: -9000px; width: 208px; top: 29px;"><div class="chzn-search"><input type="text" autocomplete="off" style="width: 173px;" tabindex="1" class="valid"></div><ul class="chzn-results"><li id="especialidade_chzn_o_0" class="active-result result-selected" style="">Especialidade</li><li id="especialidade_chzn_g_1" class="group-result" style="display: list-item;">Médico</li><li id="especialidade_chzn_o_2" class="active-result group-option" style="">Acupunturista</li><li id="especialidade_chzn_o_3" class="active-result group-option" style="">Alergista e Imunologista</li><li id="especialidade_chzn_o_4" class="active-result group-option" style="">Anestesista e Anestesiologista</li><li id="especialidade_chzn_o_5" class="active-result group-option" style="">Angiologista</li><li id="especialidade_chzn_o_6" class="active-result group-option" style="">Cancerologista ou Oncologista</li><li id="especialidade_chzn_o_7" class="active-result group-option" style="">Cardiologista</li><li id="especialidade_chzn_o_8" class="active-result group-option" style="">Cirurgião Cardiovascular</li><li id="especialidade_chzn_o_9" class="active-result group-option" style="">Cirurgião de Mãos</li><li id="especialidade_chzn_o_10" class="active-result group-option" style="">Cirurgião de Cabeça e Pescoco</li><li id="especialidade_chzn_o_11" class="active-result group-option" style="">Cirurgião do Aparelho Digestivo</li><li id="especialidade_chzn_o_12" class="active-result group-option" style="">Cirurgião Geral</li><li id="especialidade_chzn_o_13" class="active-result group-option" style="">Cirurgião Pediatra</li><li id="especialidade_chzn_o_14" class="active-result group-option" style="">Cirurgião Plástico</li><li id="especialidade_chzn_o_15" class="active-result group-option" style="">Cirurgião Torácico</li><li id="especialidade_chzn_o_16" class="active-result group-option" style="">Cirurgião Vascular</li><li id="especialidade_chzn_o_17" class="active-result group-option" style="">Clínico Geral</li><li id="especialidade_chzn_o_18" class="active-result group-option" style="">Coloproctologista</li><li id="especialidade_chzn_o_19" class="active-result group-option" style="">Dermatologista</li><li id="especialidade_chzn_o_20" class="active-result group-option" style="">Endocrinologista</li><li id="especialidade_chzn_o_21" class="active-result group-option" style="">Endoscopista</li><li id="especialidade_chzn_o_22" class="active-result group-option" style="">Gastroenterologista</li><li id="especialidade_chzn_o_23" class="active-result group-option" style="">Geriatra</li><li id="especialidade_chzn_o_24" class="active-result group-option" style="">Ginecologista e Obstetra</li><li id="especialidade_chzn_o_25" class="active-result group-option" style="">Hematologista e Hemoterapeuta</li><li id="especialidade_chzn_o_26" class="active-result group-option" style="">Homeopata</li><li id="especialidade_chzn_o_27" class="active-result group-option" style="">Infectologista</li><li id="especialidade_chzn_o_28" class="active-result group-option" style="">Mastologista</li><li id="especialidade_chzn_o_29" class="active-result group-option" style="">Médico de Família e Comunidade</li><li id="especialidade_chzn_o_30" class="active-result group-option" style="">Médico do Trabalho</li><li id="especialidade_chzn_o_31" class="active-result group-option" style="">Médico do Esporte</li><li id="especialidade_chzn_o_32" class="active-result group-option" style="">Fisiatra</li><li id="especialidade_chzn_o_33" class="active-result group-option" style="">Médico Intensivista</li><li id="especialidade_chzn_o_34" class="active-result group-option" style="">Nefrologista</li><li id="especialidade_chzn_o_35" class="active-result group-option" style="">Neurocirurgião</li><li id="especialidade_chzn_o_36" class="active-result group-option" style="">Neurologista</li><li id="especialidade_chzn_o_37" class="active-result group-option" style="">Nutrólogo</li><li id="especialidade_chzn_o_38" class="active-result group-option" style="">Oftalmologista ou Oculista</li><li id="especialidade_chzn_o_39" class="active-result group-option" style="">Ortopedista</li><li id="especialidade_chzn_o_40" class="active-result group-option" style="">Otorrinolaringologista</li><li id="especialidade_chzn_o_41" class="active-result group-option" style="">Patologista</li><li id="especialidade_chzn_o_42" class="active-result group-option" style="">Pediatra</li><li id="especialidade_chzn_o_43" class="active-result group-option" style="">Pneumologista</li><li id="especialidade_chzn_o_44" class="active-result group-option" style="">Psiquiatra</li><li id="especialidade_chzn_o_45" class="active-result group-option" style="">Radiologista</li><li id="especialidade_chzn_o_46" class="active-result group-option" style="">Radioterapeuta</li><li id="especialidade_chzn_o_47" class="active-result group-option" style="">Reumatologista</li><li id="especialidade_chzn_o_48" class="active-result group-option" style="">Urologista</li><li id="especialidade_chzn_o_49" class="active-result group-option" style="">Outros</li><li id="especialidade_chzn_g_50" class="group-result" style="display: list-item;">Dentista</li><li id="especialidade_chzn_o_51" class="active-result group-option" style="">Dentista Restaurador</li><li id="especialidade_chzn_o_52" class="active-result group-option" style="">Endodontista</li><li id="especialidade_chzn_o_53" class="active-result group-option" style="">Implantodontista</li><li id="especialidade_chzn_o_54" class="active-result group-option" style="">Ortodontista</li><li id="especialidade_chzn_o_55" class="active-result group-option" style="">Periodontista</li><li id="especialidade_chzn_o_56" class="active-result group-option" style="">Outros</li><li id="especialidade_chzn_g_57" class="group-result" style="display: list-item;">Outras Profissões</li><li id="especialidade_chzn_o_58" class="active-result group-option" style="">Psicólogo</li><li id="especialidade_chzn_o_59" class="active-result group-option" style="">Educador Físico</li><li id="especialidade_chzn_o_60" class="active-result group-option" style="">Fisioterapeuta</li><li id="especialidade_chzn_o_61" class="active-result group-option" style="">Nutricionista</li><li id="especialidade_chzn_o_62" class="active-result group-option" style="">Enfermeiro</li></ul></div></div>
                        </div>
