<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
            </div>
            <div class="span4">
                <div class="footer-links pull-right">
                  //content do fffffffoooooottttteeerrrrr
                </div>
            </div>
        </div>
    </div>
    <div class="footer-floor">
        <div class="container-fluid">
                //content do footer
        </div>
    </div>
</footer>
