<div itemscop itemtype=”http://schema.org/LocalBusiness”>
  <span itemprop=”name”>Big John’s Seafood Shack</span>
  <div itemprop=”address” itemscope itemtype=”http://schema.org/PostalAddress”>
    <span itemprop=”streetAddress”>3002 Webbs Chapel Rd</span>
    <span itemprop=”addressLocality”>Dallas</span>, <span itemprop=”addressRegion”>TX</span>
  </div>
</div>
