<div class="span3">
  <form class="form-signin">
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    <input type="checkbox" value="remember-me"> Remember me
  </form>
</div>
<div class="span3">
  <form class="form-signin">
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <input type="password" class="input-block-level" placeholder="Repeat Password">
    <button class="btn btn-large btn-primary" type="submit">Register</button>
  </form>
</div>
