<div class="row">
  <div class="twelve columns">

    <!-- Navigation -->

        <ul class="nav-bar">
        <li class="active"><a href="#">Nav Item 1</a></li>
        <li><a href="#">Nav Item 2</a></li>
        <li><a href="#">Nav Item 3</a></li>
        </ul>
  </div>
</div>
