.wrapper, .container, .content {
  background-color: transparent ;
}

.container_color {
  // background-color: #D4D4D4;
  margin: 0px auto;
  padding-right:24px;
  padding-left:24px;
  background-color: rgba(246,241,203,0.6) !important;
}



.menu {
  background-color: transparent !important;
}
