/* HORIZONTAL + VERTICAL CENTERING */

.center1 {
  text-align: center;
}

.center2 {
  #left: 50%;
}

.center3 {
  margin: 0 auto;
  #left: -50%;
}

.center1, .vcenter1 {
  display: table;
  #display: block;
  #text-align: auto;
  #position: relative;
}

.center2, .vcenter2 {
  display: table-cell;
  vertical-align: middle;
  #position: absolute;
  #top: 50%;
}

.center3, .vcenter3 {
  display: block;
  #position: relative;
  #top: -50%;
}

/*
.center1, .vcenter1 { border: 1px solid #f00 !important; }
.center2, .vcenter2 { border: 1px solid #0f0 !important; }
.center3, .vcenter3 { border: 1px solid #00f !important; }
*/
