/*-------------------------
  Simple reset
--------------------------*/


*{
  margin:0;
  padding:0;
}


/*-------------------------
  General Styles
--------------------------*/


html{
  /* This image will be displayed fullscreen */
  background:url('http://farm8.staticflickr.com/7218/7289572558_44c110c510_h.jpg') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
}

body{
  /* Workaround for some mobile browsers */
  min-height:100%;
  font:14px/1.3 'Segoe UI',Arial, sans-serif;
}



section, footer, header{
  display: block;
}

