<div class="row-fluid">
<div class="span6 bordered">
<strong>Log in:</strong>
<br>
<br>
<form class="form-horizontal form-flexible">
<div class="control-group">
<label class="control-label" for="loginEmail">Email or Username</label>
<div class="controls">
<input class="input-flexible" type="text" id="loginEmail" placeholder="Email">
</div>
</div>
<div class="control-group">
<label class="control-label" for="loginPassword">Password</label>
<div class="controls">
<input class="input-flexible" type="password" id="loginPassword" placeholder="Password">
</div>
</div>
<div class="control-group">
<div class="controls">
<label class="checkbox">
<input type="checkbox"> Remember me
</label>
<button type="submit" class="btn">Log In</button>
<br>
</div>
</div>
<a href="#">Recover password or username »</a>
<hr>
<strong>Or login with your social profiles:</strong><br>
<a href="#" class="btn btn-facebook"><i class="icon icon-facebook"></i> Facebook</a>
<a href="#" class="btn btn-twitter"><i class="icon icon-twitter"></i> Twitter</a>
</form>
</div><!--/span6-->

<div class="span6">
<strong>Create an account if you are new here:</strong>
<br>
<br>
<form class="form-horizontal">
<div class="control-group">
<label class="control-label" for="createEmail">Your email</label>
<div class="controls">
<input class="input-flexible" type="text" id="createEmail" placeholder="Email">
</div>
</div>
<div class="control-group">
<label class="control-label" for="createUsername">Your username</label>
<div class="controls">
<input class="input-flexible" type="text" id="createUsername" placeholder="Username">
</div>
</div>
<div class="control-group">
<label class="control-label" for="createPassword">Create a password</label>
<div class="controls">
<input class="input-flexible" type="password" id="createPassword" placeholder="Password">
</div>
</div>
<div class="control-group">
<label class="control-label" for="confirmPassword">Confirm password</label>
<div class="controls">
<input class="input-flexible" type="password" id="confirmPassword" placeholder="Password">
</div>
</div>
<div class="control-group">
<div class="controls">
<label class="checkbox">
<input type="checkbox"><a href="#">I agree terms and conditions</a>
</label>
<button type="submit" class="btn">Create account</button>
</div>
</div>
<hr>
<strong>Or create an account with your social profiles:</strong><br>
<a href="#" class="btn btn-facebook"><i class="icon icon-facebook"></i> Facebook</a>
<a href="#" class="btn btn-twitter"><i class="icon icon-twitter"></i> Twitter</a>
</form>
</div><!--/span6-->
</div>
